AHK-Main,C:\Users\%UserName%\Documents\ahk\main.ahk
SSMS,C:\Program Files (x86)\Microsoft SQL Server Management Studio 18\Common7\IDE\ssms.exe
VSCode,C:\Users\%UserName%\AppData\Local\Programs\Microsoft VS Code\Code.exe
Rider,C:\Program Files (x86)\JetBrains\JetBrains Rider 2024.3.8\bin\rider64.exe
Obsidian,C:\Users\%UserName%\AppData\Local\Programs\Obsidian\Obsidian.exe